<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>

    <bean id="lord" class="springbackwell.model.Attainment" c:id="1" c:attainmentName="lord"/>

    <bean id="thunderer" class="springbackwell.model.Attainment" c:id="2" c:attainmentName="thunderer"/>

    <bean id="killer" class="springbackwell.model.Attainment" c:id="3" c:attainmentName="killer" />

    <bean id="medic" class="springbackwell.model.Attainment" c:id="4" c:attainmentName="medic"/>

    <bean id="myh" class="springbackwell.model.Player" init-method="initPlayer" destroy-method="destroyPlayer"
          p:id="1" p:login="myhin_XD" p:name="Anton" >
        <property name="attainments" ref="anton.attainments"/>
    </bean>

    <util:set id="anton.attainments">
        <ref bean="killer"/>
        <ref bean="lord"/>
    </util:set>

    <bean id="lis" class="springbackwell.model.Player" init-method="initPlayer" destroy-method="destroyPlayer" p:id="2" p:login="Lis" p:name="Sergey">
        <property name="attainments" ref="Sergey.attainments"/>
    </bean>

    <util:set id="Sergey.attainments">
        <ref bean="medic"/>
        <ref bean="lord"/>
    </util:set>

    <bean id="admin" class="springbackwell.model.GameAdmin" init-method="initAdmin" c:id="0" c:name="Viktor" c:login="Dark_Angel">
        <property name="attainments" ref="admin.attainments"/>
        <property name="function" ref="admin.function"/>
    </bean>

    <util:set id="admin.attainments">
        <ref bean="medic"/>
        <ref bean="thunderer"/>
        <ref bean="lord"/>
        <ref bean="killer"/>
    </util:set>

  <util:map id="admin.function" >
      <entry key="100" value="Ban"/>
      <entry key="200" value="Kill"/>
      <entry key="300" value="RestartGame"/>
  </util:map>

    <bean id="stalkergame" class="springbackwell.model.Game" init-method="initGame" destroy-method="destroyGame" c:id="1" c:name="S/T/A/L/K/E/R"
        p:gameAdmin="admin">
        <property name="players" ref="stalker.players"/>
    </bean>
    <util:map id="stalker.players" >
        <entry key-ref="lis" value-ref="Sergey.attainments"/>
        <entry key-ref="myh" value-ref="anton.attainments"/>
        <entry key-ref="admin" value-ref="admin.attainments"/>
    </util:map>

</beans>